@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500&display=swap");
body {
  margin: 0;
  font-family: Rajdhani, "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  background: #ffffff;
  height: 100vh;
}

.header {
  margin: 0;
  padding-top: 100px;
  padding-left: 20px;
}

.section {
  padding: 20px;
}

.section-intro {
  height: 300px;
  margin: 0;
  padding-left: 20px;
}

.blurb {
  margin: 0;
  padding: 10px 20px;
}

.blurb-details {
  max-width: 50%;
  float: left;
}

.blurb-image {
  max-width: 45%;
  max-height: 500px;
  float: right;
  padding-top: 10px;
  padding-bottom: 10px;
}

.intro-title {
  padding-left: 20px;
  padding-bottom: 20px;
}

.social-links {
  padding-left: 20px;
}

.social-links a {
  padding-right: 5px;
  margin-bottom: 5px;
}

.aws-btn-wrapper {
  padding-right: 5px;
}

:root {
  --button-raise-level: 5px;
  --button-default-height: 200px;
}
.blurb-text {
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skills {
  padding-left: 20px;
  max-width: 50%;
}

.skill {
  float: left;
  border-radius: 5px;
  border-width: 1px;
  border-style: groove;
  border-color: #000000;
  padding-left: 4px;
  padding-right: 4px;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
  background-color: #e0e0e0;
  margin-right: 5px;
  font-size: 15px;
  margin-bottom: 5px;
}

.outlink-buffer {
  height: 10px;
}

.sticky {
  position: sticky;
  top: 0;
}

.menu {
  display: flex;
  margin: 0;
}

.sticky-wrapper {
  position: relative;
  height: 3rem; /* We need to change this value */
  top: 0;
}

.sticky-inner {
  background-color: #efc3e6;
  margin: 0;
  width: 100%;
  height: 3.5rem;
  padding-left: 35px;
}

.sticky .sticky-inner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.menu-item {
  float: left;
  margin-right: 20px;
}

.menu-item a {
  color: #000000;
  text-decoration: none;
  text-decoration: none;
  text-decoration: none;
  text-decoration: none;
}
