@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500&display=swap");
body {
  margin: 0;
  font-family: Rajdhani, "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f7ff;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  font-family: Rajdhani, "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  background: #ffffff;
  height: 100vh;
}

.GownApp {
  font-family: "Times New Roman", "Cantarell";
}

:root {
  --button-raise-level: 5px;
  --button-default-height: 200px;
}
