@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500&display=swap");
body {
  margin: 0;
  font-family: Rajdhani, "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  background: #ffffff;
  height: 100vh;
}

.header {
  margin: 0;
  padding-top: 100px;
  padding-left: 20px;
}

.section {
  padding: 20px;
}

.section-intro {
  height: 350px;
  margin: 0;
  padding-left: 20px;
}

.blurb {
  margin: 0;
  padding: 10px 20px;
}

.blurb-details {
  max-width: 50%;
  max-height: 500px;
  float: left;
}

.blurb-image {
  max-width: 45%;
  max-height: 500px;
  float: right;
  padding-top: 10px;
  padding-bottom: 10px;
}

.intro-title {
  padding-left: 20px;
  padding-bottom: 20px;
}

.social-links {
  padding-left: 20px;
}

.social-links a {
  padding-right: 5px;
  margin-bottom: 15px;
}

.menu-item {
  padding: 10px;
  color: #03071e;
}

.menu {
  background-color: #81b29a;
}

.aws-btn-wrapper {
  padding-right: 5px;
}

:root {
  --button-raise-level: 5px;
  --button-default-height: 200px;
}
.blurb-text {
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.skills {
  padding-left: 20px;
  max-width: 50%;
}

.skill {
  border-radius: 5px;
  border-width: 1px;
  border-style: groove;
  border-color: #000000;
  padding-left: 4px;
  padding-right: 4px;
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
  background-color: #fad8ff;
  margin-right: 5px;
  font-size: 15px;
}
